{% extends 'layout.twig' %}

{% block title %}
    My Articles
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/src/views/css/posts.css" />
{% endblock %}

{% block content %}
    <!-- MAIN DIV ELEMENT -->
    <div id="main" class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {% for post in posts %}
                <div class="post-content">
                    <h2><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>
                    <hr>
                    <div class="post-info">
                        <i class="fa">&#xf017;</i>
                        <p>{{ post.date }}</p>
                        <p>|</p>
                        <i class="fa">&#xf007;</i>
                        <p>Posted by: {{ post.name }}</p>
                        <p>|</p>
                        <i class="fa">&#xf075;</i>
                    </div>
                    <div class="pst-cnt">{{ post.content }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="col-3"></div>
    </div>

    <!-- PAGINATION -->
    <div id="pagination">
        {% if currentPage != 1 %}
            <a class="pgs" href="/my-posts/1">&laquo First Page<a>
            <a class="pgs" href="/my-posts/{{ currentPage - 1 }}">‹</a>
        {% endif %}

        {% for page in pagesArray %}
            {% if currentPage == page %}
            <a id="pgs-act" href="/my-posts/{{ page }}">{{ page }}</a>
            {% else %}
            <a class="pgs" href="/my-posts/{{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if currentPage < lastPage %}
            <a class="pgs" href="/my-posts/{{ currentPage + 1 }}">›</a>
            <a class="pgs" href="/my-posts/{{ lastPage }}">Last Page &raquo<a>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="/src/views/js/posts.js"></script>
{% endblock %}
