{% extends 'layout.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/src/views/css/post.css" />
{% endblock %}

{% block content %}

    {% if not isAuth %}
        <!-- ostavljam opciju neimplementiranu za sada -->
    {% endif %}

    <div class="col-3 col-s-1"></div>
    <div class="col-6 col-s-10">
        <div id="post-content">
            <h2>{{ post.title }}</h2>
            <hr>
            <div id="sec1">
                <div>
                    <i class='fas fa-clock'></i>
                    <p>{{ post.date }}</p>
                    <p>|</p>
                    <i class='fas fa-user'></i>
                    <p>Posted by: {{ post.name }}</p>
                    <p>|</p>
                    <i class='fas fa-comment'></i>
                </div>
                <div>
                    <p id="show-size">Text size <span>▸</span></p>
                    <button id="default">default</button>
                    <button id="increase">+</button>
                    <button id="decrease">‒</button>
                </div>
            </div>
            <div id="pst-cnt">{{ post.content }}</div>
            <hr>
            <div id="sec2">
                <p id="comm">Show comment section ▾</p>
                {% if isAuth and post.userId == uId %}
                    <a id="p-del" href="/delete-post/{{ post.id }}"
                        title="Delete post"><i class='far fa-trash-alt'></i>
                    </a>
                    <a id="p-edit" href="/edit-post/{{ post.id }}/get-form"
                        title="Edit post"><i class='far fa-edit'></i></a>
                {% endif %}
            </div>
        </div>
        <!-- COMMENT SECTION -->
        <div id="comment-section">
            <form name="comm-form" onsubmit="return validateForm()">
                <input type="text" name="comm-name"
                    placeholder="Enter your name">

                <textarea rows="2" name="comment" maxlength="500"></textarea>

                <input type="submit" value="Save">
            </form>
        </div>
    </div>
    <div class="col-3 col-s-1"></div>

{% endblock %}

{% block js %}
    <script src="/src/views/js/post.js"></script>
{% endblock %}
