{% extends 'layout.twig' %}

{% block title %}
    Articles
{% endblock %}

{% block css %}
{{ parent() }}

    <link rel="stylesheet" href="/src/views/css/posts.css" />
{% endblock %}

{% block content %}

    {% if not isAuth %}
        <p id="plsi">Please, sign in to add new articles</p>
    {% endif %}

{% for post in posts %}
    <div id="sec1">
        <h2><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>
        <hr>
        <div id="sec1-1">
            <div>
                <i class="fa">&#xf017;</i>
                <p>{{ post.date }}</p>
                <p>|</p>
                <i class="fa">&#xf007;</i>
                <p>Posted by: {{ post.name }}</p>
                <p>|</p>
                <i class="fa">&#xf075;</i>
            </div>
        </div>
        <div class="pst-cnt">{{ post.content }}</div>
    </div>
{% endfor %}

    <div id="pagination">
        {% if currentPage != 1 %}
            <a class="pgs" href="/posts/1">&laquo First Page<a>
            <a class="pgs" href="/posts/{{ currentPage - 1 }}">‹</a>
        {% endif %}

        {% for page in pagesArray %}
            {% if currentPage == page %}
            <a id="pgs-act" href="/posts/{{ page }}">{{ page }}</a>
            {% else %}
            <a class="pgs" href="/posts/{{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if currentPage < lastPage %}
            <a class="pgs" href="/posts/{{ currentPage + 1 }}">›</a>
            <a class="pgs" href="/posts/{{ lastPage }}">Last Page &raquo<a>
        {% endif %}
    </div>

    <script src="/src/views/js/posts.js"></script>
{% endblock %}
